<div class='intro' ng-show='visible'>
  <div class='content-box'>
    <div class='title'>
      <div class='letter e'></div><div class='letter v'></div><div class='letter e'></div><div class='letter r'></div><div class='letter y'></div><div class='letter n'></div>
    </div>
    <div class='messages'>
      <div class='subtitle'>An adventure game experiment in collaborative story-telling.</div>
      <div ng-show='error' class='error text'>{{ error }}</div>
      <div ng-show='nImages > 0'>
        <div ng-hide='nImages == nImagesLoaded' class='text'>
          Loading ({{ nImagesLoaded }}/{{ nImages }})
        </div>
        <div ng-show='nImages == nImagesLoaded'>
          <button ng-click='startGame()'>PLAY</button>
        </div>
      </div>
    </div>
  </div>
</div>
